<div class="status-ddl">
  <div class="pt5 fl pr20">
    <label class="control-label">Status:</label>
  </div>
  <div class="fl" style="min-width:225px">
    <p-dropdown [options]="status" [(ngModel)]="sourceHistoryTabData?.progservStatus.name" name="progservStatus.name"></p-dropdown>
  </div>
</div>
<div class="col-md-6 pln">
  <div class="box-header bg-white pl30 pt20 pb15 border">
    <h3 class="box-title fs18 txt-violet">Programming Services Name</h3>
    <div class="box-tools pull-right">
      <a class="cursor" (click)="pro_name.toggle($event)" role="button">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
      <a href="#" id="panel-fullscreen" role="button" title="Toggle fullscreen">
        <i class="fa fa-expand"></i>
      </a>
    </div>
  </div>
  <div class="box-body bg-white border nbt pt20 mb15">
    <p-dataTable [value]="" [editable]="true" [rows]="3" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,25,50,100]"
      scrollHeight="180px" scrollable="true">
      <p-column field="name" header="Name" [editable]="true" [sortable]="true">
        <ng-template let-col let-car="rowData" pTemplate="editor">
          <p-dropdown [(ngModel)]="sourceTypesList[col.field]" [options]="sourceTypeSelect2Dropdown" required="true" appendTo="body"></p-dropdown>
        </ng-template>
      </p-column>
      <p-column field="tag" header="Effective Date" [editable]="true" [sortable]="true">
        <ng-template let-col let-car="rowData" pTemplate="editor">
          <p-dropdown [(ngModel)]="sourceTypesList[col.field]" [options]="sourceTypeSelect2Dropdown" required="true" appendTo="body"></p-dropdown>
        </ng-template>
      </p-column>
    </p-dataTable>
    <div class="col-md-12">
      <div class="form-group">
        <label for="field-1" class="control-label">Display Name</label>
        <input type="text" class="form-control" name="finder">
      </div>
      <div class="form-group">
        <label for="field-2" class="control-label">AKA</label>
        <input type="text" class="form-control" name="progservId">
      </div>
    </div>
  </div>
</div>
<div class="col-md-6 prn">
  <div class="box-header bg-white pl30 pt20 pb15 border">
    <h3 class="box-title fs18 txt-violet">Call Sign History</h3>
    <div class="box-tools pull-right">
      <a class="cursor" (click)="call_sign.toggle($event)" role="button">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
      <a href="#" id="panel-fullscreen" role="button" title="Toggle fullscreen">
        <i class="fa fa-expand"></i>
      </a>
    </div>
  </div>
  <div class="box-body bg-white border nbt pt20 mb15">
    <p-dataTable [value]="" [editable]="true" [rows]="3" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,25,50,100]"
      scrollHeight="180px" scrollable="true">
      <p-column field="name" header="Call Sign" [editable]="true" [sortable]="true">
        <ng-template let-col let-car="rowData" pTemplate="editor">
          <p-dropdown [(ngModel)]="sourceTypesList[col.field]" [options]="sourceTypeSelect2Dropdown" required="true" appendTo="body"></p-dropdown>
        </ng-template>
      </p-column>
      <p-column field="tag" header="Effective Date" [editable]="true" [sortable]="true">
        <ng-template let-col let-car="rowData" pTemplate="editor">
          <p-dropdown [(ngModel)]="sourceTypesList[col.field]" [options]="sourceTypeSelect2Dropdown" required="true" appendTo="body"></p-dropdown>
        </ng-template>
      </p-column>
    </p-dataTable>
    <div class="col-md-12">
      <div class="form-group">
        <label for="field-1" class="control-label">Preferred Call Sign</label>
        <input type="text" class="form-control" name="finder">
      </div>
      <div class="form-group">
        <label for="field-2" class="control-label"> Station Group</label>
        <p-dropdown [options]="sourceTypeSelect2Dropdown" name="sourceType" [filter]="true"></p-dropdown>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="col-md-6 pln">
  <div class="box-header bg-white pl30 pt20 pb15 border">
    <h3 class="box-title fs18 txt-violet">Source Type History</h3>
    <div class="box-tools pull-right">
      <a class="cursor" (click)="source_history.toggle($event)" role="button">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
      <a href="#" id="panel-fullscreen" role="button" title="Toggle fullscreen">
        <i class="fa fa-expand"></i>
      </a>
    </div>
  </div>
  <div class="box-body bg-white border nbt pt20 mb15">
    <p-dataTable [value]="" [editable]="true" [rows]="3" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,25,50,100]"
      scrollHeight="180px" scrollable="true">
      <p-column field="name" header="Source Type" [editable]="true" [sortable]="true">
        <ng-template let-col let-car="rowData" pTemplate="editor">
          <p-dropdown [(ngModel)]="sourceTypesList[col.field]" [options]="sourceTypeSelect2Dropdown" required="true" appendTo="body"></p-dropdown>
        </ng-template>
      </p-column>
      <p-column field="tag" header="Effective Date" [editable]="true" [sortable]="true">
        <ng-template let-col let-car="rowData" pTemplate="editor">
          <p-dropdown [(ngModel)]="sourceTypesList[col.field]" [options]="sourceTypeSelect2Dropdown" required="true" appendTo="body"></p-dropdown>
        </ng-template>
      </p-column>
    </p-dataTable>
    <div class="col-md-12">
      <div class="form-group">
        <label for="field-1" class="control-label">Reach</label>
        <input type="text" class="form-control" name="finder">
      </div>
    </div>
  </div>
</div>
<div class="col-md-6 prn">
  <div class="box-header bg-white pl30 pt20 pb15 border">
    <h3 class="box-title fs18 txt-violet">Affiliation History</h3>
    <div class="box-tools pull-right">
      <a class="cursor" (click)="affiliation_history.toggle($event)" role="button">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
      <a href="#" id="panel-fullscreen" role="button" title="Toggle fullscreen">
        <i class="fa fa-expand"></i>
      </a>
    </div>
  </div>
  <div class="box-body bg-white border nbt pt20 mb15">
    <p-dataTable [value]="" [editable]="true" [rows]="3" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,25,50,100]"
      scrollHeight="180px" scrollable="true">
      <p-column field="name" header="Affiliation" [editable]="true" [sortable]="true">
        <ng-template let-col let-car="rowData" pTemplate="editor">
          <p-dropdown [(ngModel)]="sourceTypesList[col.field]" [options]="sourceTypeSelect2Dropdown" required="true" appendTo="body"></p-dropdown>
        </ng-template>
      </p-column>
      <p-column field="tag" header="Effective Date" [editable]="true" [sortable]="true">
        <ng-template let-col let-car="rowData" pTemplate="editor">
          <p-dropdown [(ngModel)]="sourceTypesList[col.field]" [options]="sourceTypeSelect2Dropdown" required="true" appendTo="body"></p-dropdown>
        </ng-template>
      </p-column>
    </p-dataTable>
    <div class="col-md-12">
      <div class="form-group">
        <label for="field-1" class="control-label">DMA Name / Rank</label>
        <input type="text" class="form-control" name="finder">
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12 pln prn">
  <div class="box-header bg-white pl30 pt20 pb15 border">
    <h3 class="box-title fs18 txt-violet">Number History</h3>
    <div class="box-tools pull-right">
      <a class="cursor" (click)="no_history.toggle($event)" role="button">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
      <a href="#" id="panel-fullscreen" role="button" title="Toggle fullscreen">
        <i class="fa fa-expand"></i>
      </a>
    </div>
  </div>
  <div class="box-body bg-white border nbt pt20 mb15">
    <p-dataTable [value]="" [editable]="true" [rows]="3" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,25,50,100]"
      scrollHeight="250px" scrollable="true">
      <p-column field="name" header="Type" [editable]="true" [sortable]="true">
        <ng-template let-col let-car="rowData" pTemplate="editor">
          <p-dropdown [(ngModel)]="sourceTypesList[col.field]" [options]="sourceTypeSelect2Dropdown" required="true" appendTo="body"></p-dropdown>
        </ng-template>
      </p-column>
      <p-column field="name" header="Value" [editable]="true" [sortable]="true">
        <ng-template let-col let-car="rowData" pTemplate="editor">
          <p-dropdown [(ngModel)]="sourceTypesList[col.field]" [options]="sourceTypeSelect2Dropdown" required="true" appendTo="body"></p-dropdown>
        </ng-template>
      </p-column>
      <p-column field="tag" header="Effective Date" [editable]="true" [sortable]="true">
        <ng-template let-col let-car="rowData" pTemplate="editor">
          <p-dropdown [(ngModel)]="sourceTypesList[col.field]" [options]="sourceTypeSelect2Dropdown" required="true" appendTo="body"></p-dropdown>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>

<div class="col-md-12 pln prn">
  <div class="box-header bg-white pl30 pt20 pb15 border">
    <h3 class="box-title fs18 txt-violet">Programming Service Details</h3>
    <div class="box-tools pull-right">
      <a href="#" id="panel-fullscreen" role="button" title="Toggle fullscreen">
        <i class="fa fa-expand"></i>
      </a>
    </div>
  </div>
  <div class="box-body bg-white border nbt pt20 mb15">
    <div class="col-md-6">
      <div class="form-group">
        <label for="field-1" class="control-label">Launch Date</label>
        <input type="text" class="form-control" name="finder">
      </div>
      <div class="form-group">
        <label for="field-1" class="control-label">Time Zone</label>
        <p-dropdown [options]="sourceTypeSelect2Dropdown" name="sourceType" [filter]="true"></p-dropdown>
      </div>
      <div class="form-group">
        <label for="field-1" class="control-label">Primary Country of Coverage</label>
        <p-dropdown [options]="sourceTypeSelect2Dropdown" name="sourceType" [filter]="true"></p-dropdown>
      </div>
      <div class="form-group">
        <label for="field-1" class="control-label">Other Countries of Coverage</label>
        <p-dropdown [options]="sourceTypeSelect2Dropdown" name="sourceType" [filter]="true"></p-dropdown>
      </div>
      <div class="form-group">
        <label for="field-1" class="control-label">Broadcast Language</label>
        <input type="text" class="form-control" name="finder">
      </div>
      <div class="form-group">
        <label for="field-1" class="control-label">Edited Language</label>
        <p-dropdown [options]="sourceTypeSelect2Dropdown" name="sourceType" [filter]="true"></p-dropdown>
      </div>
      <div class="form-group">
        <label for="field-1" class="control-label">Off Air Date</label>
        <input type="text" class="form-control" name="finder">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="field-1" class="control-label">Website</label>
        <input type="text" class="form-control" name="finder">
      </div>
      <div class="form-group">
        <label for="field-1" class="control-label">Email</label>
        <input type="text" class="form-control" name="finder">
      </div>
      <div class="form-group">
        <label for="field-1" class="control-label">Source Description ( Max 100 chars )</label>
        <textarea class="form-control" rows="5" cols="30" style="height:112px" pInputTextarea></textarea>
      </div>
      <div class="form-group">
        <label for="field-1" class="control-label">Source Description ( Max 250 chars)</label>
        <textarea class="form-control" rows="5" cols="30" style="height:190px" pInputTextarea></textarea>
      </div>
    </div>

  </div>
</div>

<div class="col-md-12 ac mt15">
  <button type="submit" class="btn btn-info mr15">Save</button>
  <button type="button" class="btn btn-white">Cancel</button>
</div>
<div class="clearfix"></div>
<p-overlayPanel #pro_name>
  <div class="p10">
    <div class="form-group">
      <label for="field-7" class="control-label">Type</label>
      <p-dropdown [options]="sourceTypeSelect2Dropdown" name="Type"></p-dropdown>
    </div>
    <div class="form-group">
      <label for="field-7" class="control-label">Value</label>
      <p-dropdown [options]="sourceTypeSelect2Dropdown" name="Value"></p-dropdown>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-info">Apply</button>
      <button type="button" class="btn btn-white">Cancel</button>
    </div>
  </div>
</p-overlayPanel>
<p-overlayPanel #call_sign>
  <div class="p10">
    <div class="form-group">
      <label for="field-7" class="control-label">Type</label>
      <p-dropdown [options]="sourceTypeSelect2Dropdown" name="Type"></p-dropdown>
    </div>
    <div class="form-group">
      <label for="field-7" class="control-label">Value</label>
      <p-dropdown [options]="sourceTypeSelect2Dropdown" name="Value"></p-dropdown>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-info">Apply</button>
      <button type="button" class="btn btn-white">Cancel</button>
    </div>
  </div>
</p-overlayPanel>

<p-overlayPanel #source_history>
  <div class="p10">
    <div class="form-group">
      <label for="field-7" class="control-label">Type</label>
      <p-dropdown [options]="sourceTypeSelect2Dropdown" name="Type"></p-dropdown>
    </div>
    <div class="form-group">
      <label for="field-7" class="control-label">Value</label>
      <p-dropdown [options]="sourceTypeSelect2Dropdown" name="Value"></p-dropdown>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-info">Apply</button>
      <button type="button" class="btn btn-white">Cancel</button>
    </div>
  </div>
</p-overlayPanel>
<p-overlayPanel #affiliation_history>
  <div class="p10">
    <div class="form-group">
      <label for="field-7" class="control-label">Type</label>
      <p-dropdown [options]="sourceTypeSelect2Dropdown" name="Type"></p-dropdown>
    </div>
    <div class="form-group">
      <label for="field-7" class="control-label">Value</label>
      <p-dropdown [options]="sourceTypeSelect2Dropdown" name="Value"></p-dropdown>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-info">Apply</button>
      <button type="button" class="btn btn-white">Cancel</button>
    </div>
  </div>
</p-overlayPanel>
<p-overlayPanel #no_history>
  <div class="p10">
    <div class="form-group">
      <label for="field-7" class="control-label">Type</label>
      <p-dropdown [options]="sourceTypeSelect2Dropdown" name="Type"></p-dropdown>
    </div>
    <div class="form-group">
      <label for="field-7" class="control-label">Value</label>
      <p-dropdown [options]="sourceTypeSelect2Dropdown" name="Value"></p-dropdown>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-info">Apply</button>
      <button type="button" class="btn btn-white">Cancel</button>
    </div>
  </div>
</p-overlayPanel>