
@font-face {
  font-family: 'ArchivoNarrow-Regular';
  src: url('../fonts/ArchivoNarrow-Regular/ArchivoNarrow-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ArchivoNarrow-Regular/ArchivoNarrow-Regular.woff') format('woff'), url('../fonts/ArchivoNarrow-Regular/ArchivoNarrow-Regular.ttf')  format('truetype'), url('../fonts/ArchivoNarrow-Regular/ArchivoNarrow-Regular.svg#ArchivoNarrow-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans/OpenSans.woff') format('woff'), url('../fonts/OpenSans/OpenSans.ttf')  format('truetype'), url('../fonts/OpenSans/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}


