<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar"> 
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" id="sidebar"> 
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li> <a href=""> <i class="fa fa-dashboard"></i> <span>Dashboard</span> </a> </li>
        <li class="treeview"> <a href="#"> <i class="fa fa-files-o"></i> <span>Programming Services</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li><a href=""><i class="fa fa-circle-o"></i>Create New</a></li>
            <li><a routerLink="/advanced-search"><i class="fa fa-circle-o"></i>Search and Edit</a></li>
            <li><a href=""><i class="fa fa-circle-o"></i>Create a Copy</a></li>
          </ul>
        </li>
        <li class="treeview"> <a href="#"> <i class="fa fa-files-o"></i> <span>User Management</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li><a href=""><i class="fa fa-circle-o"></i>Edit User &amp;  Assign Roles</a></li>
            <li><a href=""><i class="fa fa-circle-o"></i>Search Role</a></li>
            <li><a href=""><i class="fa fa-circle-o"></i>Edit Role &amp; Assign Permissions</a></li>
          </ul>
        </li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Workload Assignment</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Help</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar --> 
  </aside>
  